extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	// -------------------------BANNER-------------------------
	section.home-banner
		.owl-carousel.owl-theme#homeBanner
			.banner-item.flex.flex--align-center.flex--justify-center.background--center
				.banner-item-content
					h1.headers--no-margin.mb-sm-2.text--300 Dịch vụ Content
					p.text--200.text--no-margin.motion-blur Viết hay thay lời nói của bạn
			.banner-item.flex.flex--align-center.flex--justify-center.background--center.banner-2
				.banner-item-content.container
					.row
						.col-sm-5.col-md-5
							p.text--200.text--no-margin 
								|Bạn cần một bài viết chuẩn
								br.responsive-break
								strong.text--700  SEO
								|, chúng tôi sẽ đáp ứng 
								br.responsive-break
								| hơn cả sự mong đợi
			.banner-item.flex.flex--align-center.flex--justify-center.background--center.banner-3
				.banner-item-content.container
					.row
						.col-sm-5.col-md-5
							p.text--200.text--no-margin
								|Tối ưu 
								strong.text--700 doanh thu
								|, thu hút 
								br.responsive-break
								| người đọc cùng Dịch vụ 
								br.responsive-break
								| content


	// -------------------------SERVICES-------------------------
	section.home-services.flex.flex--align-center.flex--justify-center
		.services-xl
			a(href="javascript:void(0)").services-item.services-item--7f4c26.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_1.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Bài Fanpage Social
			a(href="javascript:void(0)").services-item.services-item--bb5e30.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_2.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Bài viết chuẩn SEO
			a(href="javascript:void(0)").services-item.services-item--db9a45.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_3.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Bài viết Facebook ads, quảng cáo sản phẩm
			a(href="javascript:void(0)").services-item.services-item--bea05d.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_4.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Bài báo, quảng bá sản phẩm, PR thương hiệu
			a(href="javascript:void(0)").services-item.services-item--64909b.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_5.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Landing page bán hàng trực tuyến
			a(href="javascript:void(0)").services-item.services-item--68802d.flex.flex--align-center.flex--justify-center.text-center
				figure.flex.flex--align-center.flex--justify-center.flex--direction-column
					img(src="./img/01_home/home_services_icon_6.png", alt="")
					figcaption
						p.text--no-margin.mt-3 Bài PR đăng website
		.container
			.row
				.col
					h2.text--700.text-center.headers--no-margin Lý do chọn
			.row.mt-5.mt-xl-0.home-services-wrapper
				.col
					.owl-carousel.owl-theme#homeServices
						a(href="javascript:void(0)").services-item.services-item--7f4c26.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_1.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Bài Fanpage Social
						a(href="javascript:void(0)").services-item.services-item--bb5e30.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_2.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Bài viết chuẩn SEO
						a(href="javascript:void(0)").services-item.services-item--db9a45.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_3.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Bài viết Facebook ads, quảng cáo sản phẩm
						a(href="javascript:void(0)").services-item.services-item--bea05d.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_4.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Bài báo, quảng bá sản phẩm, PR thương hiệu
						a(href="javascript:void(0)").services-item.services-item--64909b.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_5.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Landing page bán hàng trực tuyến
						a(href="javascript:void(0)").services-item.services-item--68802d.flex.flex--align-center.flex--justify-center.text-center
							figure.flex.flex--align-center.flex--justify-center.flex--direction-column
								img(src="./img/01_home/home_services_icon_6.png", alt="")
								figcaption
									p.text--no-margin.mt-3 Bài PR đăng website
			.row.mt-5.mt-md-4
				.col-12.col-md-4
					figure
						.services-block-img.flex.flex--align-center.flex--justify-center
							img(src="./img/_global/block_bg_1.png", alt="")
							img.services-block-icon(src="./img/01_home/home_reasons_block_icon_1.png", alt="")
						figcaption.text-center
							h3.headers--no-margin.text--700.mt-3.mt-md-4.mb-2.px-2 Bài viết mới 100%
							p.text--no-margin.text--400.mb-5.mt-md-0.px-3.px-sm-5.px-md-3 Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
				.col-12.col-md-4
					figure
						.services-block-img.flex.flex--align-center.flex--justify-center
							img.transform--rotate-90(src="./img/_global/block_bg_1.png", alt="")
							img.services-block-icon(src="./img/01_home/home_reasons_block_icon_2.png", alt="")
						figcaption.text-center
							h3.headers--no-margin.text--700.mt-3.mt-md-4.mb-2.px-2 Tối ưu từ khóa theo chuẩn SEO
							p.text--no-margin.text--400.mb-5.mt-md-0.px-3.px-sm-5.px-md-3 Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
				.col-12.col-md-4
					figure
						.services-block-img.flex.flex--align-center.flex--justify-center
							img.transform--rotate-180(src="./img/_global/block_bg_1.png", alt="")
							img.services-block-icon.ml-2(src="./img/01_home/home_reasons_block_icon_3.png", alt="")
						figcaption.text-center
							h3.headers--no-margin.text--700.mt-3.mt-md-4.mb-2.px-2 Chất lượng bài viết mang lại giá trị thật sự
							p.text--no-margin.text--400.px-3.px-sm-5.px-md-3 Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.

	// -------------------------INTRO-------------------------
	section.home-intro.flex.flex--align-center.flex--justify-center.background--center
		.container
			.row
				.col
					h2.text--700.text-center.headers--no-margin Giới thiệu
			.row
				.col-12.col-lg-6
					h3.text--400.headers--no-margin.mt-5.px-3.px-sm-5.px-md-3.px-lg-0 Content chính là cầu nối, là phương tiện dẫn dắt khách hàng đến với doanh nghiệp.
					p.text-400.text--no-margin.mt-4.px-3.px-sm-5.px-md-3.px-lg-0 Đó chính là lý do Dịch vụ content ra đời, với mong muốn các bài viết content luôn đạt chuẩn SEO, nội dung sáng tạo và ngôn ngữ gần gũi với khách hàng, đồng thời mang lại giá trị tối đa cho doanh nghiệp qua những bài viết content.
					p.text-400.text--no-margin.mt-2.px-3.px-sm-5.px-md-3.px-lg-0 Dịch vụ Content với đội ngũ viết content chuyên nghiệp, bất kể doanh nghiệp bạn làm gì, dự án ra sao, chúng tôi đều có thể viết nên những bài viết đảm bảo chất lượng, viết mới 100% với ý tưởng linh hoạt và truyền đạt được thông điệp đến khách hàng.
					a(href="javascript:void(0)").btn.mt-4.ml-3.ml-sm-5.ml-md-3.ml-lg-0.flex.flex--align-center.flex--justify-center Xem thêm