extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.services-detail-wrapper.d-flex.align-items-center.py-5.py-lg-0
		.container
			.row.services-detail-content
				.col-lg-6
					img(src="./img/03_services/services_ct/services_ct_intro_img.png", alt="").img-fluid
				.col-lg-6.mt-3.mt-lg-0
					h4.mb-3 Bài viết chuẩn SEO
					h3.mb-3 Bạn đã sở hữu một website trực quan, sống động nhưng vẫn không có thời gian để viết bài?
					p Với dịch vụ Viết Bài Chuẩn SEO tại Content Tử Tế, đội ngũ chúng tôi sẽ không ngừng sáng tạo và mang lại cho bạn những bài viết hấp dẫn, ngôn từ sinh động kết hợp các từ khóa chất lượng.
						br
					| Chúng tôi sẽ giúp bạn chăm sóc website luôn tươi mới, thu hút được nhiều người xem và được Google đánh giá cao hơn. Content Tử Tế cam kết một bài viết chuẩn SEO sẽ đem lại những giá trị thật sự cho bạn.
	section.service-package.d-flex.justify-content-center.py-5.py-lg-4
		.container
			.row
				.col
					h2.headers--no-margin.text--700.text-center.text-white.mt-4 Gói dịch vụ
			.row.package-row.px-5
				.col-12.col-md-6.col-lg-4.d-flex.justify-content-center.mb-5
					div.package-info.d-flex.align-items-center.justify-content-center
						p.text-center
							span.text-orange 100 bài
							br
							span.text-black 100 bài SEO 600 từ
				.col-12.col-md-6.col-lg-4.d-flex.justify-content-center.mb-5
					div.package-info.d-flex.align-items-center.justify-content-center
						p.text-center
							span.text-orange 30 bài
							br
							span.text-black 30 bài SEO 600 từ
				.col-12.col-lg-4.d-flex.justify-content-center.mb-5
					div.package-info.d-flex.align-items-center.justify-content-center
						p.text-center
							span.text-orange Bài lẻ
							br
							span.text-black Bài lẻ SEO 600 từ
	section.steps.d-flex.justify-content-center.py-5.py-lg-4
		.container
			.row
				.col
					h2.headers--no-margin.text--700.text-center.mt-4 Các bước thực hiện
			.row.mt-5
				.col-12.col-md-6.col-xl-3.mb-3
					.card
						img(src="./img/03_services/services_ct/services_ct_step_1.png", alt="").card-img-top
						.card-body
							h3.card-title.card-title-1 
								span 
								|Lấy thông tin:
							p.card-text.text-justify.mt-lg-3.mt-xl-4 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-12.col-md-6.col-xl-3.mb-3
					.card
						img(src="./img/03_services/services_ct/services_ct_step_2.png", alt="").card-img-top
						.card-body
							h3.card-title.card-title-2
								span 
								|Viết bài:
							p.card-text.text-justify.mt-lg-3.mt-xl-4 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-12.col-md-6.col-xl-3.mb-3
					.card
						img(src="./img/03_services/services_ct/services_ct_step_3.png", alt="").card-img-top
						.card-body
							h3.card-title.card-title-3 
								span 
								|Khách hàng duyệt:
							p.card-text.text-justify.mt-lg-3.mt-xl-4 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn
				.col-12.col-md-6.col-xl-3.mb-3
					.card
						img(src="./img/03_services/services_ct/services_ct_step_4.png", alt="").card-img-top
						.card-body
							h3.card-title.card-title-4 
								span 
								|Nhập lên website:
							p.card-text.text-justify.mt-lg-3.mt-xl-4 Thông tin được cập nhật từ những nguồn mới nhất trên thị trường chúng tôi nghiên cứu các từ khóa tốt nhất để đảm bảo quá trình viết bài đạt chuẩn



