extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.service-wrapper
		.container
			.row.my-4
				.col.text-center
					h4 Dịch vụ
			.row
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_1_bg.png", alt="")
							span Bài fanpage social
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_2_bg.png", alt="")
							span Bài viết chuẩn SEO
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_3_bg.png", alt="")
							span Bài viết fanpage ads, quảng cáo sản phẩm
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_4_bg.png", alt="")
							span Bài báo, quảng bá sản phẩm, PR thương hiệu
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_5_bg.png", alt="")
							span Landing page bán hàng trực tuyến
				.col-12.col-sm-6.col-lg-4.mb-4
					a(href="#")
						.service-items.text-center
							img.img-fluid(src="./img/03_services/services_block_6_bg.png", alt="")
							span Bài PR đăng website
		


