body
	font-family: 'Encode Sans', sans-serif

// /////////////////HOME-BANNER//////////////////////
.home-banner
	+section(30rem, #ffffff)
	.owl-carousel.owl-theme
		.banner-item
			min-height: 30rem
			background-image: url('./../../img/01_home/home_banner_1_bg.png')
			.banner-item-content
				margin: 0 2rem 0 2rem
				text-align: center
				padding: 2rem 1rem
				box-shadow: 0 0 0 .7rem rgba(255,255,255,.2)
				h1, p
					color: #ffffff
				p
					font-size: 1.125rem
				p.motion-blur
					color: #ff6d00
					text-shadow: -5px 0 5px #ff6d00
		.banner-item.banner-2
			background-image: url('./../../img/01_home/home_banner_2_full.png')
			.banner-item-content
				background-color: rgba(0,0,0,.7)
				padding: 2rem 4rem
		.banner-item.banner-3
			background-image: url('./../../img/01_home/home_banner_3_full.png')
			.banner-item-content
				background-color: rgba(0,0,0,.7)
				padding: 2rem 4rem
	.owl-dots
		+absolute(auto, auto, 4rem, 50%)
		transform: translateX(-50%)
	+media-breakpoint-up(sm)
		//LANDSCAPE PHONES - 576px to 768px
		.owl-carousel.owl-theme
			.banner-item
				.banner-item-content
					h1
						letter-spacing: .5rem
					p
						letter-spacing: .1rem
			.banner-item.banner-2,.banner-item.banner-3
				.banner-item-content
					background: transparent
					text-align: left
					p
						letter-spacing: .2rem
	+media-breakpoint-up(md)
		//TABLETS, 768px - 992px
		.owl-carousel.owl-theme
			.banner-item
				background-image: url('./../../img/01_home/home_banner_1_full.png')
				.banner-item-content
					margin-top: -1.5rem
					box-shadow: initial

// /////////////////HOME-SERVICES//////////////////////
.home-services
	+section(30rem, #ffffff)
	padding: 3rem 0
	background-image: url('./../../img/_global/background_1.png')
	h2
		font-size: 1.875rem
	h3
		font-size: 1.125rem
	figure
		margin: 0
		.services-block-img
			.services-block-icon
				+absolute()
		figcaption
			p
				font-size: .9rem
				line-height: 1.4rem
	a
		text-decoration: none
	.owl-carousel.owl-theme
		.owl-dots
			+flex(center, center)
			margin-top: 1.5rem
		.owl-item
			+flex(center, center)
	.services-xl
		display: none
	.services-item
		+size(11rem, 11rem)
		border-radius: .3125rem
		box-shadow: .25rem .3125rem 0px 0px rgba(0, 0, 0, 0.15)
		figure
			img
				+size(4.375rem, 4.375rem)
			figcaption
				p
					color: #ffffff
		&--7f4c26
			background-color: #7f4c26
		&--bb5e30
			background-color: #bb5e30
		&--db9a45
			background-color: #db9a45
		&--bea05d
			background-color: #bea05d
		&--64909b
			background-color: #64909b
		&--68802d
			background-color: #68802d
	+media-breakpoint-up(md)
		//TABLET 768px - 992px
		.owl-carousel.owl-theme
			.owl-dots
				margin-bottom: 2rem
	+media-breakpoint-up(xl)
		//LARGE DESKTOP: 1200px and up
		padding-top: 13rem
		.owl-carousel.owl-theme
			display: none
		.services-xl
			+flex(center, center)
			+absolute(-2rem, auto, auto, auto, 1)
			.services-item
				margin: 0 .25rem
				z-index: 2
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
			&:before
				content: ''
				+size(100%, 50%)
				+absolute(0, auto, auto, auto, 1)
				background-color: #fff
				border-radius: 1px 1px 0 0
				box-shadow: 0 0 0 .8rem #FFFFFF

// /////////////////HOME-INTRO//////////////////////
.home-intro
	+section(30rem, #ffffff)
	padding: 3rem 0 3rem 0
	background-image: url('./../../img/01_home/home_intro_bg.png')
	h2, h3
		font-size: 1.875rem
	a.btn
		padding: 0
		+size(8rem, 2.5rem)
		background-color: #ff6d00
		border-radius: 1.25rem
		border: 0
		outline: none
		color: #FFFFFF
		&:hover
			background-color: darken(#ff6d00, 15%)
	+media-breakpoint-up(lg)
		// DESKTOP, 992px and up
		padding-bottom: 8rem
		background-image: url('./../../img/01_home/home_intro_full.png')

// /////////////////HOME-FEEDBACK//////////////////////
.home-feedback
	+section(30rem, #ffffff)
	padding: 3rem 0 3rem 0
	background-image: url('./../../img/01_home/home_feedback_bg.png')	
	.home-feedback-side
		display: none
	h2
		font-size: 1.875rem
	figure
		margin: 0
		img
			+size(2.5rem, 3.75rem)
	.owl-carousel.owl-theme
		.owl-dots
			+flex(center, center)
			margin-top: 1.5rem
		.home-feedback-item
			.feedback-content
				font-size: 1.5rem
			.feedback-client
				font-size: 1rem
				color: #8f99a4
	+media-breakpoint-up(lg)
		// DESKTOP, 992px-1200px
		padding-bottom: 5.5rem
		.home-feedback-side
			display: initial
			+absolute(auto, 0, -5rem, auto, 1)
			+size(30rem, 28rem)
		.owl-carousel.owl-theme
			+size(50%, auto)
			margin-left: 25%
			.owl-dots
				margin-top: 3.75rem
	+media-breakpoint-up(xl)
		// DESKTOP, 1200px and up
		.home-feedback-side
			+size(38rem, 36rem)
			bottom: -6.5rem

// /////////////////HOME-NEWS//////////////////////
.home-news
	+section(30rem, #ffffff)
	padding: 3rem 0 3rem 0
	h2
		font-size: 1.875rem
		margin-bottom: 2.25rem
	.owl-carousel.owl-theme
		position: relative
		padding: 0 1rem 0 1rem
		.owl-nav
			+flex(center, center)
		a
			text-decoration: none
			.home-news-item
				time
					font-size: .75rem
					color: #cccccc
					transition: .3s ease-in-out
				p
					font-size: 1rem
					line-height: 1.2rem
					color: #000000
					transition: .3s ease-in-out
			&:hover, &:active
				.home-news-item
					time
						color: #000000
					p
						color: #ff6d00
		&:before
			content: ''
			+absolute(auto, auto, -3rem, 1rem)
			+size(calc(100% - 2rem), 1px)
			background: #e5e5e5
	+media-breakpoint-up(lg)
		// DESKTOP, 992px and up
		padding: 10rem 0 3rem 0
		.owl-carousel.owl-theme
			padding: 0 3rem 0 3rem
			.owl-nav
				justify-content: space-between
				+absolute(50%, auto, auto, 0)
				+size(100%, auto)
				transform: translateY(-50%)
				.owl-next, .owl-prev
					margin: 0
			&:before
				+size(calc(100% - 6rem), 1px)
				left: 3rem
		a
			.home-news-item
				figure
					margin: 0

// /////////////////HOME-CLIENTS//////////////////////
.home-clients
	+section(5rem, #ffffff)
	padding: 0rem 0 1rem 0
	.owl-carousel.owl-theme
		position: relative
		padding: 0 1rem 0 1rem
		.owl-nav
			+flex(center, center)
		.home-client-items
			figure
				margin: 0
	+media-breakpoint-up(lg)
		// DESKTOP, 992px and up
		padding: 1rem 0 1rem 0
		.owl-carousel.owl-theme
			padding: 0 3rem 0 3rem
			.owl-nav
				justify-content: space-between
				+absolute(50%, auto, auto, 0)
				transform: translateY(-50%)
				+size(100%, auto)
				.owl-next, .owl-prev
					margin: 0
			&:before
				+size(calc(100% - 6rem), auto)
				left: 3rem
		a
			.home-news-item
				figure
					margin: 0
