<!-- ////////////// FOOTER ////////////// -->
footer.pt-5
	.container
		.row
			.col-lg-4.col-md-12.mb-4
				img.mb-2(src="./img/_global/logov2.png" alt="")
				p.info-contact.mt-3.pr-4
					| LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
				p.info-contact  
					| Hotline: 098 193 5440
					br
					| contact@dichvucontents.com
			.col-lg-4.col-6
				h6.mb-md-3.mb-lg-2 Giới thiệu
				ul.list-inline
					li
						a(href="#") Tổng quan
					li
						a(href="#") Tầm nhìn - sứ mệnh
					li
						a(href="#") Tại sao chọn chúng tôi
					li
						a(href="#") Cơ cấu tổ chức
					li
						a(href="#") Tuyển dụng
			.col-lg-4.col-6
				h6.mb-md-3.mb-lg-2 Dịch vụ content
				ul.list-inline
					li
						a(href="#") Bài Fanpage Social
					li
						a(href="#") Bài viết chuẩn SEO
					li
						a(href="#") Bài viết Facebook ads, quảng cáo sản phẩm
					li
						a(href="#") Bài báo, quảng bá sản phẩm, PR thương hiệu 
					li
						a(href="#") Landing page bán hàng trực tiếp
					li
						a(href="#") Bài PR đăng website
	.container-fluid.footer-register
		.container
			.row.register
				.col-lg-4.col-md-12.mb-3.mb-lg-0.d-flex.flex-column.justify-content-center.mt-4.mt-lg-0
					h6 Đăng ký nhận bản tin
					p Kết nối với chúng tôi để nhận bản tin mới nhất
				.col-lg-4.col-sm-6.mb-3.mb-lg-0.d-flex.flex-column.justify-content-center
					.input-group
						input(type="text",placeholder="Điền địa chỉ email của bạn").form-control
						button Đăng ký
				.col-lg-4.col-sm-6.text-lg-right.mb-lg-0.mb-3.d-flex.flex-column.justify-content-center
					ul.list-inline.pt-3
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-youtube-play
						li.list-inline-item
							a(href="#")
								i.fa.fa-google-plus
	.container-fluid.footer-copyright
		.container
			.row.copyright
				.col-12.col-lg-6.text-center.text-lg-left
					ul.list-inline
						li.list-inline-item
							a(href="#") Điều kiện và điều khoản
						li.list-inline-item.ml-1
							a(href="#") Chính sách bảo mật
						li.list-inline-item.ml-1
							a(href="#") Sitemap
				.col-12.col-lg-6.text-center.text-lg-right
					p Copyright © 2018 Dịch vụ Content. All right reserved. Designed by Cánh Cam.	