<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-md
			a.navbar-brand(href="#") 
				img(src="./img/_global/logo.png" alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation").ml-auto
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active.ml-4.ml-md-0
						a.nav-link(href="javascript:void(0)") Giới thiệu
					li.nav-item.ml-4.ml-md-0
						a.nav-link(href="javascript:void(0)") Dịch vụ
					li.nav-item.ml-4.ml-md-0
						a.nav-link(href="javascript:void(0)") Tin tức
					li.nav-item.ml-4.ml-md-0
						a.nav-link(href="javascript:void(0)") Liên hệ
			ul.list-inline.list-nomargin.navbar-tools
				li.list-inline-item.mr-4.ml-4
					a(href="javascript:void(0)").btn
						img(src="./img/_global/header_eng_flag.png", alt="")
				li.list-inline-item
					a(href="javascript:void(0)").btn
						i.fa.fa-search

<!-- ////////////// HEADER ////////////// -->
