
html, body
	font-family: 'Encode Sans', sans-serif
	font-size: 14px
	height: 100%
	width: 100%

.list-nomargin
	margin: 0
	padding: 0

.responsive-break
	display: none
	+media-breakpoint-up(lg)
		display: block